/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 */

.alert{
	margin-top:20px;
	text-align: center;
}
 .info, p,span, .error{
 	letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase;
 }
 .error{
 	margin-left: 10px;
 	color:#EA2533;
 }
 .info{
 	text-align: left;
 	margin-bottom:20px;
 }
 .info ul{
 	list-style: none;
 }

.margin-40-top{
	margin-top:40px;
}
.header,.othernet,label, .alert{
	text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    font-weight: 600;
}
label{
	font-size:13px;
}
.othernet-search{
	margin-top:200px;
	text-align: center;
}
.search-box{
	width:45%;
	margin:auto;
}
.blue{
	color:#4A75E6;
}
.yellow{
	color:#FEBC1F;
}
.red{
	color:#EA2533;
}
.green{
	color:#08AF22;
}
.othernet{
	margin-top: 20px;
	font-size:20px;
}
.left-column a, .left-column{
	letter-spacing: .2rem;
    font-weight: 400;
    text-transform: uppercase;
}
.box{
	border:	1px solid #D1D1D1;
	box-sizing: border-box;
	padding:10px;
}