<ul>
    <li> <span class='yellow'>Name:</span> What do you want to call the thing you are hosting?</li>
    <li> <span class='red'>Description:</span> How would you describe the thing you are hosting? Be specific, the more specific you are the better the search engine will function.</li>
    <li>
    	<span class='blue'>URL:</span> What URL should people use to access your item. It can be whatever you want, so long as its alphanumeric. Examples:
    	<ul>
    	    <li class='eg green'>www.mycat.frank</li>
    	    <li class='eg red'>w.poetryBy.m3</li>
    	    <li class='eg yellow'>xxx.mycoolsite.xxx</li>
    	</ul>
    </li>
    <li><span class='green'>File:</span> You can upload any 
    	<ul>
        	<li>.png, .jpg, .gif, .pdf</li>
        	<li>.html 
        		<ul class='decorate'>
        		    <li><span class='red'> - no external links in html</span></li>
        		    <li class='green'> - If you'd like images in your html file please use our go back and use our page builder ( coming soon )</li>
        		    <li></li>
        		    <li></li>
        		</ul>
        		

        	</li>

        	<li></li>
    	</ul> 
    <li></li>
</ul>