<div class="row margin-40-top">
	<div class="two-thirds column">

		<%= simple_form_for @webpage, url: backyard_webthings_path do |f| %>
	  		<%= f.input :type_id, collection: Type.all, include_blank: false,  :input_html => { :class => 'u-full-width'},label: 'What are you hosting?'.html_safe%>
	  		<%= submit_tag 'Next', :step => 'one'  %>
		<% end %>

		<div class="info">
    		<ul>
    		    <li> <span class='red'>A thing:</span> is a static image, HTML file with no images, a PDF, mp3 </li>
    		    <li><span class='blue'>Custom HTML:</span> Custom HTML built using our WYSIWYG</li>
    		    <li></li>
    		    <li></li>
    		</ul>	
    	</div>
	</div>

	
</div>