<div class="row">
    <div class="four columns box">
    	<div class="header">New</div>
    </div>
    <div class="four columns box">
    	<div class="header">Top</div>
    </div>
    <div class="four columns box">
    	<div class="header">Tags</div>
    </div>
</div>