<div class="row margin-40-top">
	<div class="two-thirds column">
		<div class="info">
			<p>I am the Othernet and I am yours</p>
			<p>there are things here that can only be here.</p>
			<p>No Facebook, No Google.  No Internet Service Providers</p>	
			<p>Just us</p>	
			<p>Neighbors</p>

    	</div>
	</div>
	
	
</div>